{
  "root": true,
  "ignorePatterns": ["node_modules"],
  "overrides": [
    {
      "files": ["*.{js,ts}"],
      "env": {
        "node": true,
        "es2021": true
      },
      "extends": ["eslint:recommended", "prettier"]
    },
    {
      "files": ["src/**/*.ts?(x)"],
      "parserOptions": {
        "ecmaVersion": "latest"
      },
      "settings": {
        "react": {
          "version": "detect"
        }
      },
      "env": {
        "browser": true,
        "es2021": true
      },
      "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:react/recommended",
        "plugin:react-hooks/recommended",
        "plugin:import/recommended",
        "plugin:jsx-a11y/recommended",
        "prettier"
      ],
      "rules": {
        "import/no-unresolved": "off",
        "@typescript-eslint/no-unused-vars": [
          "warn",
          {
            "args": "none",
            "ignoreRestSiblings": true
          }
        ],
        "react/prop-types": "off",
        "react/jsx-uses-react": "off",
        "react/react-in-jsx-scope": "off"
      }
    },
    {
      "files": ["src/**/*.test.ts?(x)"],
      "env": {
        "jest/globals": true
      },
      "extends": ["plugin:jest/all", "plugin:testing-library/react"],
      "rules": {
        "jest/prefer-expect-assertions": "off",
        "testing-library/no-node-access": "warn"
      }
    }
  ]
}
