{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "importOrder": [
    "^react$",
    "^react-dom$",
    "^(?![.~]).*(?<!.css|.scss)$",
    "^[.~].*(?<!.css|.scss)$",
    "^(?![.~]).*$",
    "^[.~].*",
    ".*"
  ]
}
